/* Body */
body{
    background-color:rgb(193, 207, 219); 
}
/* Navbar */
.navbar{
    max-height: 57px; 
    font-size: large;
}
.tcontainer{
    text-align:center;
    height:fit-content;
    width:100%;
    background-color:azure;
    padding:45px;
}

.bcontainer{
    text-align:center;
    height:fit-content;
    width:100%;
    background-color:gray;
    font-weight: bolder;
}
.tbanner{
    text-align: center;
    width: 100%;
}
.h1{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    float:center;
}
.h2{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    float:center;
}
.bannerimgl{
    height:126px;
    width:140px;
    float:left;
}
.bannerimgr{
    height:96px;
    width:100px;
    float:right;
}
.advertr{
    border:black;
    border-style: solid;
    height:100%;
    width:auto;
    float: right;
}
.row{
    float:center;
}
#bcontainerheader{
    font-size: 20px;
    font-weight: bolder;
}
#disclaimer{
    font-weight:bold;
}
.predictionbox{
    height:fit-content;
}
.prediction_input{
    width:200px;
    text-align:center;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:1px solid;
    float:left;
}
.prediction_output{
    width:200px;
    text-align:center;
    float:right;
}


.navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #0bad21;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: white; 
    font-size: 15px; 
}
.titling{
    font-size: 50px;
    color: bisque;
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7!important; 
}
.dropdown-item{
    color: #010407 !important; 
    font-weight: bold;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 !important; 
}
a{
    color: #6D8092;
    font-size: 15px; 
}
.nav-link:hover{
    background-color:#E7E7E7 !important;
   }

.navbar-brand:hover{
color: rgb(14, 13, 13) !important;
}
/* Images */

.active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
    
}


/* Title Class  */



/* Media Queries */
@media(max-width: 992px){
.navbar-expand-lg{
background-color: #0BADA6 !important;
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: white;  
}
.navbar-brand{
    padding: 10px !important; 
}

button{
    margin-right: 30px; 
}
button:focus {

    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
}